* {
    box-sizing: border-box;
    margin: 0
}

:root {
    --text-color-1: #fff;
    --text-color-2: #000;
    --text-color-3: #ccc;
    --text-color-4: #333;
    --text-color-5: #888;
    --text-color-6: #999;
    --other-color-1: #3db166;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
a{text-decoration: none;}

.max-width-boxes {
    max-width: 1200px;
    margin: 0 auto
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}


/* Nav bar start */

.parrent-main {
    position: sticky;
    top: 0;
}

.main-nav-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    position: relative;
    height: 210px;
    transition: all 0.3s ease-in-out
}

.main-nav-sec.scroll-nav {
    height: 176px;
}

.main-img {
    display: flex;
    box-shadow: 0px 11px 5px -1px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0px 11px 5px -1px rgb(0 0 0 / 30%);
    padding: 24px 20px 28px;
    justify-content: center
}

.div-img {
    display: inherit;
    justify-content: center;
    width: 100%
}

.div-img a {
    text-decoration: none
}

.div-img img {
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out
}

.main-nav {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.nav-ul {
    display: inherit;
}

.nav-ul>ul {
    display: flex;
    justify-content: center;
    line-height: 1.7;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 0px;
    padding-left: 0%;
}

.li-home {
    padding-left: 0%;
}

.main-nav-a {
    font-size: 16px;
    font-weight: 500;
    color: #163269;
    text-decoration: none;
}

.main-nav-a:hover {
    color: var(--other-color-1)
}

.main-li {
    display: inherit;
    list-style: none;
    flex-direction: row;
    padding: 2px 18px
}
.scroll-nav{
    max-height: ;
}

.scroll-nav img {
    height: 56px
}

.scroll-nav .main-img {
    /* padding: 8px 20px 6px; */
}

.scroll-nav .main-nav {
    /* padding: 20px 0; */
}


/* nav search */

input#find {
    padding-top: 0;
}

.search {
    position: relative;
}

.search input {
    outline: none;
    border: white;
}

.search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
    display: none;
}

.search input[type=search] {
    background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.search input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

.search input:-moz-placeholder {
    color: #999;
}

.search input::-webkit-input-placeholder {
    color: #999;
}


/* internal link of nav bar classed start  */
.sub-nav {
    position: absolute;
    top: 90%;
    background-color: white !important;
    z-index: 105;
    list-style: none;
    padding: 12px 0;
    box-shadow: 0px 8px 34px -15px rgb(0, 0, 0);
    display: none;
    min-width: 220px
}
.main-li-hover:hover .sub-nav{
    display: block
}
.nav-ul-hide{
    display: none
}
.sub-nav li{
    background-color: white !important;
    padding: 1px 11px;
    font-size: 14px
}


.sub-nav-li a{
    display: block;
    padding: 6px 30px 6px 12px;
    position: relative;
    color: #585858
    
}
.sub-nav-li a:hover{
    background-color: #eeeeee;
    
} 


.sub-nav-link > a::after{
position: absolute;
right: 19px;
content: "\f105";
font-family: fontAwesome;
}


.sub-nav-ul{
    display: none
}
.sub-nav-link:hover .sub-nav-ul{
    display: block
}

.sub-item{
    position: absolute;
    left: 100% ;
    background-color: white !important;
    margin-top: -48px;
    z-index: 105;
    list-style: none;
    padding: 12px 0;
    box-shadow: 0px 8px 28px -15px rgb(0, 0, 0);
   min-width:max-content;
}



/* #sublink-of-main{
    display: block;
} */

/* internal link of nav bar classed end  */

/* Demo 2 */

.search input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

.search input[type=search]:hover {
    background-color: #fff;
}

.search input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

.search input:-moz-placeholder {
    color: transparent;
}

.search input::-webkit-input-placeholder {
    color: transparent;
}

.search input:focus+.results {
    display: block;
    width: 300px
}

.results:hover {
    display: block !important;
    width: 300px
}

.search .results {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.search .results li {
    display: block
}

.search .results li:first-child {
    margin-top: -1px
}

.search .results li:last-child {
    margin-bottom: -1px
}

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a:hover {
    text-decoration: none;
    background-color: #e6e6e6;
}


/* Nav bar end */


/* slider start */


/* .image-slider-sec{
     padding-top: 15em;    position sticky is there to no use of this
} */

.slider-img {
    color: white;
    text-align: center;
    background-color: rgb(167, 131, 131);
    height: 519px;
}


/* slider end */


/*  */

#home-vision-head-tab {}

.gdlr-core-tab-item-image-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.gdlr-core-tab-item-content {
    display: none;
}

.gdlr-core-tab-item-content.gdlr-core-active {
    display: block;
}


/* Footer */

.footer-1-main-box {
    padding: 4.1em 1.24em;
    background-color: #181818
}

.footer-1-main-box .max-width-boxes>div {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

@media screen and (max-width: 700px) {
    .flex-box-responsive {
        display: block;
        width: 100%;
        padding: 10px;
    }
    .footer-1-main-box .max-width-boxes>div {
        width: 100%;
        padding: 0;
        padding-block: 20px;
        vertical-align: top;
    }
}

.footer-1-section-1 p {
    color: var(--text-color-6, #fff);
    line-height: 1.7;
    margin: 0.9em 0;
    margin-top: 2.3em;
}

.footer-details {
    color: var(--text-color-1, #fff)
}

.footer-details>div {
    padding: 0.5em 0;
    font-size: 0.95rem;
}

.footer-details>div:last-child {
    padding-top: 0.3em;
    padding-bottom: 1.2em;
    border-bottom: 2px solid var(--other-color-1)
}

.footer-details a {
    text-decoration: none;
    color: var(--text-color-1, #fff);
}

.footer-1-title {
    color: var(--text-color-1, #fff);
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 2px solid var(--other-color-1, #3db166);
    padding-bottom: 0.7em;
    margin-bottom: 1.5em
}

.footer-nav {
    list-style: none;
    padding: 0
}

.footer-nav li {
    margin: 10px auto
}

.footer-nav li a {
    text-decoration: none;
    color: var(--text-color-5, #888);
}

.footer-2-main-box {
    padding: 2.1em 2.5em;
    background-color: #202020
}

.footer-2-left {
    color: #888;
    font-size: 0.938rem
}

.footer-2-right a {
    text-decoration: none;
    font-size: 20px;
    color: var(--other-color-1, #fff);
    font-weight: 600;
    margin-left: 19px
}